*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #ccc ;
}

.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background-color: blanchedalmond;
    margin-top: 100px;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}

.titulo{
    font-size: 40px;

}
.container-all img{
    width: 300px;
}